
<body id = "homebackground">

<div class = "content">

		<img src= "logo.png" style = "width: 250px"/ id="logo"> <br/>

		<h6> A platform where all parents can find simple, quick and nutritious recipes for their young ones</h6> <br/>

		<a class="btn btn-warning" href="/recipes" role="button">Let's get started!</a>
</div>

	<%= stylesheet_pack_tag 'hello_react' %>

</body>