

.body {
	text-align: center;
	width: 100%;
	padding-right: 15px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: 0px;

}


#logo {
	display: inline-block;
}

#filterbox{
	margin-bottom: 40px;
}


.col-3 {
	background-color: #f8f9fa;
	font-color: white;
	padding: 50px;
}

#newrecipe {
	margin-bottom: 20px;
}

#inputfield{
	border-style: outset;
  border-color: coral;
  border-width: 7px;
}

#searchbutton{
	margin-top: 10px;
}


hr {
    display: block;
    height: 3px;
    WIDTH: 100%;
    border: 3px;
    border-top: 3px solid #ccc;
    margin: 3em 0;
    padding: 0;
}

.btn btn-dark {
	width: 100px;
	padding: 2px;
}

#grains{
	padding: 2px;
}

#proteins{

}

#vegetables{
	margin-top: 20px;
	padding: 2px;
}

#agerange1 {
	font-size: 15px;
	padding-left: 40px;
	padding-right:40px;
}

#agerange2 {
	font-size: 15px;
	padding-left: 27px;
	padding-right:27px;
}

#agerange3 {
	font-size: 15px;
	padding-left: 33px;
	padding-right:33px;
}

#title {
	display: inline-block;
}

.col-9 {
	wrap: row;
}

.card {
	display: flex;
}


#title{
	color: pink;
}

.recipe .card-img {
	background-size: cover;
	background-postion: center;
	width: 100%;
}
.recipe .card-img:after {
	content:"";
		display:block;
		width: 100%;

}
.recipe .card-img:after {}

.col-4 {
 margin-bottom: 40px
}

//show.html.erb

#showlayout{
	background-image: url(/showlayout.png);
  background-repeat: repeat;
  background-size: 100%;
  text-align: center;
}


#showcardtitle{
	text-align: center;
}

#showcard {
	display: inline-block
}

//edit.html.erb

.editcontent {
	text-align: center;
	margin-top: 70px;
	background-color: #fcf9e7;
	padding: 40px;

}

#editlayout {
	background-image: url(/editlayout.png);
  background-repeat: repeat;
  background-size: 100%;
}

//new.html.erb

.newcontent {
	text-align: center;
	margin-top: 70px;
	background-color: #fdfbf0;
	padding: 40px;

}

#newlayout {
	background-image: url(/newlayout.png);
  background-repeat: repeat;
  background-size: 100%;
}